<% layout('layouts/boilerplate') -%>

    <%- include('../layouts/partials/navbar') %>


        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2 class="mb-0">Edit church details</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-content m-5 mt-2">
                <div class="container-fluid">
                    <div class="row g-4 d-flex justify-content-center">
                        <div class="col-md-6 ">
                            <div class="card card-info card-outline mb-4">
                                <div class="card-header">
                                    <div class="card-title">
                                        <h4>Edit Church</h4>
                                    </div>
                                </div>
                                <form action="/church/<%= church._id %>?_method=PUT" method="POST">
                                    <div class="card-body">
                                        <div class="row g-3">


                                            <div class="col">
                                                <label for="name" class="form-label">Church name</label>
                                                <input type="text" class="form-control" id="name" name="church[churchname]"
                                                    value="<%=church.churchname%>" required/>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end gap-2 m-3">
                                        <button class="btn btn-warning" type="submit">Update</button>
                                    </div>
                                </form>
                                <div class="card-footer d-flex justify-content-end gap-2">
                                    <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </main>
        <%- include('../layouts/partials/footer') %>